body{
    margin: 0px;
    font-family: arial;
}
a{
    text-decoration: none;
}
.mainContainer{
    width: auto;
}
.clr{
    clear: both;
}
.display-yes{
    display: inline;
}
.display-no{
    display: none;
}