body{
    margin: 0px;
    font-family: arial;
}
a{
    text-decoration: none;
}
.mainContainer{
    width: auto;
}
.clr{
    clear: both;
}
.display-yes{
    display: inline;
}
.display-no{
    display: none;
}
.button {
  display: block;
  width: 115px;
  height: 25px;
  background: #4E9CAF;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  color: white;
  font-weight: bold;
}