.mainContainer{
    width: auto;
    padding: 5px;
}
.categories-menu-area{
    height: 40px;
    width: auto;
    border-radius: 3px;
    border: 1px solid #ddd;
    padding-left: 20px;
}
.categories-menu-area a{
    display: inline-block;
    padding: 5px;
    margin-top: 11px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border: 1px solid #ddd;
}
.categories-menu-area a:hover,.categories-menu-area .a{
    color: #fff;
    background: #09c;
}
/* ------------------------------------ */
.office-menu-area{
    margin: 2px 0px;
    border-radius: 3px;
    border: 1px solid #ddd;
    position: relative;
}
.office-menu-area .home-tool{
    width: auto;
}
.office-menu-area .home-tool .box-tool{
    padding: 3px;
    border: 1px solid #fff;
    margin: 5px;
    float: left;
    height: 50px;
    text-align: center;
}
.office-menu-area .home-tool .box-tool:hover{
    background: #f6fafa;
    cursor: pointer;
}
/* ------------------------------------ */
.main-content{
    height: 500px;
    border-radius: 3px;
    border: 1px solid #ddd;
}
/* ------------------------------------ */