body{
    background: #f2fafa
}
.loginContainer{
    width: 1000px;
    border-radius: 10px;
    height: 500px;
    border: 1px solid #ddd;
    margin: auto;
    margin-top: 30px;
    background: #fff;
    position: relative;
     background: url(../images/sportbg.png) no-repeat;
    background-size: cover;
}
.loginContainer .advertising{
    float: left;
    width: 60%;
    height: 100%;
   
}

.loginContainer .loginForm{
    float: right;
    width: 40%;
}
.loginForm form{
    margin: 10%;
    margin-top: 150px;
}
.loginForm input{
    width: 90%;
    margin-bottom: 20px;
    border: 3px solid #09c;
    padding: 2%;
    padding-left: 23px;
    height: 25px;
}
.loginForm input:focus{
    outline: 0px;
}
.loginForm button{
        border: 3px solid #09c;
    height: 34px;
    background: #fff;
    border-radius: 2px;
    width: 70px;
    font-weight: bold;
}
.user{
    background: url(../images/usericon.png) no-repeat left #fff;
}
.password{
    background: url('../images/passwordicon.png') no-repeat left #fff;
}